.source_item {
    margin-top: 2px;
    display: flex;
    flex-direction: row;

    .source_case {
        width: 70px;
        color: #00b9ff;
    }

    .source_death {
        width: 70px;
        color: #d22c32;
    }

    .source_recover {
        width: 70px;
        color: #4ed237;
    }

    .source_update {
        width: 70px;
        color: #b97d00;
    }

    .source_cycle {
        width: 70px;
        color: #e000d0;
    }

    .source_try_recover {
        width: 70px;
        color: #ffef00;
    }

    .source_refresh {
        width: 70px;
        color: #59ddf1;
    }

    .source_last_update {
        width: 70px;
    }

    &.total {
        margin-left: 52px;
    }
}

.delimiter {
    margin-bottom: 1px;
    padding-top: 4px;
    border-bottom: 1px #000000 solid;
    width: 92%;
}